In [4]:
import pandas as pd
import numpy as np

In [44]:
test1 =  pd.DataFrame(data = [[1,2,3],[4,5,6]],columns =['a','b','c'] )
test1

   a  b  c
0  1  2  3
1  4  5  6

In [45]:
test1.get['b']

TypeError: 'instancemethod' object has no attribute '__getitem__'

In [47]:
def sq_error(w0, w1, data):
    print("test:" + str(w0))
    err = lambda x, y : (y - (w0 + w1 * x)) ** 2
    return (data.apply( lambda row: err(row['b'],row['c']), axis = 1)).sum()
total = sq_error(1,2,test1)
print(total)

test:1
29

In [43]:
total = sq_error(1,1,test1)+1
print(total)

test:1
1